.Container
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: auto;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    box-shadow: 0 0 8px rgba(15, 15, 15, 0.15);
}

.LeftSide
{
    position: relative;
    background: rgb(215, 215, 215);
    padding: 40px;
    box-shadow: 1px 0 2px rgba(15, 15, 15, 0.15);
    z-index: 1;
}

.RightSide
{
    position: relative;
    background: #fff;
    padding: 40px;
}

@media (max-width: 1000px)
{
    .Container
    {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
}